@model Diagnostics_FP.Models.ContractsAndMBAnalysisType 
           @using Diagnostics_FP.Models;
<div id="clinicAndContractEdit">
   @using (Ajax.BeginForm(new AjaxOptions
   {
       HttpMethod = "POST",
       UpdateTargetId = "contentArea",

   }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>@ViewData["titleText"]</legend>
            <div>
            <p>
            @Html.HiddenFor(model => model.ContractAndMBAnalysisTypeID)
            @Html.HiddenFor(model => model.ContractID)
           
            Выберите анализ
            </p>
            <p>
            @Html.DropDownListFor(model => model.MBAnalysisTypeID, (SelectList)ViewData["selectAnalysis"] )
            </p>
              <p>
            @Html.DropDownListFor(model => model.PaymentTypeID , (SelectList)ViewData["selectPaymentType"] )
            </p>
              <p>
            @Html.EditorFor(model => model.Price)
            </p>
            <p>
            <input type="submit" value="@ViewData["buttonText"]"  />
          
            </p>
            </div>
        </fieldset>
    }
</div>
