@{
    ViewBag.Title = "Home Page";
}
<h3>@ViewBag.Message</h3>
<p>
 @*   @Html.ActionLink("Проекты", "Index", "Project", null, new { @class = "button" })
    @Html.ActionLink("ABTherapyType", "Index", "ABTherapyType", null, new { @class = "button" })
    @Html.ActionLink("City", "Index", "City", null, new { @class = "button" })*@
 @*   @Html.ActionLink("ClinicMaterialGroup", "Index", "ClinicMaterialGroup", null, new { @class = "button" })*@
  @*  @Html.ActionLink("Comment", "Index", "Comment", null, new { @class = "button" })
    @Html.ActionLink("Diagnosis", "Index", "Diagnosis", null, new { @class = "button" })
    @Html.ActionLink("Drug", "Index", "Drug", null, new { @class = "button" })
    @Html.ActionLink("Fenotype", "Index", "Fenotype", null, new { @class = "button" })
    @Html.ActionLink("Frequency", "Index", "Frequency", null, new { @class = "button" })
    @Html.ActionLink("Heavy", "Index", "Heavy", null, new { @class = "button" })*@
    @Html.ActionLink("Результаты анализов", "Index", "MBAnalysisResult", null, new { @class = "button" })
    @*@Html.ActionLink("MBBacterioscopyOrganismType", "Index", "MBBacterioscopyOrganismType", null, new { @class = "button" })*@
    @Html.ActionLink("Статусы", "Index", "MBStatus", null, new { @class = "button" })
  @*  @Html.ActionLink("MedicalForm", "Index", "MedicalForm", null, new { @class = "button" })
    @Html.ActionLink("MedicalRoute", "Index", "MedicalRoute", null, new { @class = "button" })
    @Html.ActionLink("MedicalUnit", "Index", "MedicalUnit", null, new { @class = "button" })*@
    @Html.ActionLink("Методы тестирования", "Index", "Method", null, new { @class = "button" })
    @Html.ActionLink("Типы организмов", "Index", "OrganismType", null, new { @class = "button" })
 @*   @Html.ActionLink("PatientCharName", "Index", "PatientCharName", null, new { @class = "button" })
    @Html.ActionLink("PatientStatusType", "Index", "PatientStatusType", null, new { @class = "button" })*@
  @*  @Html.ActionLink("RemoveReason", "Index", "RemoveReason", null, new { @class = "button" })*@
@*    @Html.ActionLink("ROCharName", "Index", "ROCharName", null, new { @class = "button" })
    @Html.ActionLink("SamplePaymentType", "Index", "SamplePaymentType", null, new { @class = "button" })*@
        @Html.ActionLink("Антибиотики", "Index", "AntibioticType", null, new { @class = "button" })
        @Html.ActionLink("Диагнозы", "Index", "DiagnosisType", null, new { @class = "button" })
        @Html.ActionLink("Уч. зап. пользователей", "Index", "Account", null, new { @class = "button" })
        @Html.ActionLink("Доп.услуги", "Index", "AdditionalService", null, new { @class = "button" })
        @Html.ActionLink("Контракты", "Index", "Contract", null, new { @class = "button" })
        @Html.ActionLink("Клиники", "ClinicGroupList", "Clinic", new { clinicGroupID = 0 }, new { @class = "button" })
        @Html.ActionLink("Анализы", "Index", "MBAnalysisType", null, new { @class = "button" })
    </p>
