@{
  ViewBag.Title = "Зарегистрированные пользователи";
}
@model System.Web.Security.MembershipUserCollection
           @using System.Web.Security ;
<h2>Зарегистрированные пользователи</h2>

<div>
    Пользователей зарегистрировано в системе: @Membership.GetAllUsers().Count;
</div>
<div>
    Пользователей находится в системе: @Membership.GetNumberOfUsersOnline();
</div>
<br />
<table class="striped" style="width: auto; height: auto;">
    <tr>
        <th></th>
        <th>Роль</th>
        <th>Логин</th>
        <th>Email</th>
        <th>Дата создания</th>
        <th>Онлайн</th>
        <th>Дата входа</th>
    
    </tr>
  @foreach (MembershipUser user in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Удалить", "Delete", new { userName = user.UserName }, new { onclick = "return confirm('Вы действительно хотите удалить пользователя?')" }) | 
                @Html.ActionLink("Изменить роли","ChangeRoles", new {userName = user.UserName }) | 
                @Html.ActionLink("Изменить пароль","ChangePassword")
            </td>
            <td>
                <ul class="unstyled">
                @foreach (var role in Roles.GetAllRoles())
                {
                    if (Roles.IsUserInRole(user.UserName, role))
                    {
                        <li>@role</li>
                    }
                }
                </ul>
            </td>
            <td>
                @user.UserName.ToString();
            </td>
            <td>
                @user.Email.ToString();
            </td>
            <td>
                @user.CreationDate.ToString();
            </td>
            <td>
                @user.IsOnline.ToString();
            </td>
            <td>
                @user.LastLoginDate.ToString();
            </td>
            </tr>
    }
</table>


<div>
    <br />
    @Html.ActionLink("Создать пользователя", "Register", null, new { @class = "button" })
    @Html.ActionLink("Назад", "Index", "Knowall", null, new { @class = "button" })
</div>
