@model Diagnostics_FP.ViewModels.vwPatientListPaid
@using Diagnostics_FP.Helpers;
@{
    ViewBag.Title = ViewData["title"];
}
<h3>@ViewData["title"]</h3>
@if (ViewData["Message"] != null)
{
    <blockquote>
        @ViewData["Message"]
    </blockquote>
}
@using (Html.BeginForm())
{
    <p>
        ФИО: @Html.TextBox("PatientFilter", ViewBag.PatientFilter as String)
        &nbsp; № образца: @Html.TextBox("SampleFilter", ViewBag.SampleFilter as String)
        &nbsp;
        <input type="submit" value="Поиск" />
        @Html.ActionLink("Сброс", "PatientListPaid", new { queue = ViewBag.Queue }, new { @class = "button" })
        @if (ViewBag.Queue == 1)
        {
            @Html.ActionLink("Все пациенты", "PatientListPaid", null, new { @class = "button" })
        }
        else
        {
            @Html.ActionLink("Очередь пациентов", "PatientListPaid", new { queue = 1 }, new { @class = "button" })
        }
    </p>
}
<table class="stripped" style="width: auto">
    <tr>
        <th>
        </th>
        <th>@Html.ActionLink("№ обр.", "PatientListPaid", new { sortOrder = ViewBag.SampleNumberSortParm, currentFilter = ViewBag.CurrentFilter, sampleFilter = ViewBag.sampleFilter })
        </th>
        <th>@Html.ActionLink("ФИО", "PatientListPaid", new { sortOrder = ViewBag.FIOSortParm, currentFilter = ViewBag.CurrentFilter, sampleFilter = ViewBag.sampleFilter })
        </th>
        <th>@Html.ActionLink("Дата рожд.", "PatientListPaid", new { sortOrder = ViewBag.BirthDateSortParm, currentFilter = ViewBag.CurrenFilter, sampleFilter = ViewBag.sampleFilter })
        </th>
        <th>@Html.ActionLink("Пол", "PatientListPaid", new { sortOrder = ViewBag.SexSortParm, currentFilter = ViewBag.CurrenFilter, sampleFilter = ViewBag.sampleFilter })
        </th>
        <th>@Html.ActionLink("Клинич.материал", "PatientListPaid", new { sortOrder = ViewBag.ClinicMaterialSortParm, currentFilter = ViewBag.CurrenFilter, sampleFilter = ViewBag.sampleFilter })
        </th>
        <th>@Html.ActionLink("ЛПУ", "PatientListPaid", new { sortOrder = ViewBag.ClinicSortParm, currentFilter = ViewBag.CurrenFilter, sampleFilter = ViewBag.sampleFilter })
        </th>
        <th>@Html.ActionLink("Доктор", "PatientListPaid", new { sortOrder = ViewBag.DoctorSortParm, currentFilter = ViewBag.CurrenFilter, sampleFilter = ViewBag.sampleFilter })
        </th>
        <th>@Html.ActionLink("Дата доставки", "PatientListPaid", new { sortOrder = ViewBag.DeliverySortParm, currentFilter = ViewBag.CurrenFilter, sampleFilter = ViewBag.sampleFilter })
        </th>
        <th>@Html.ActionLink("Дата забора", "PatientListPaid", new { sortOrder = ViewBag.CaptureSortParm, currentFilter = ViewBag.CurrenFilter, sampleFilter = ViewBag.sampleFilter })
        </th>
        @if (Roles.IsUserInRole("Administrator"))
        {
            <th>
                Дата добавления
            </th>
            <th>
                Дата изменения
            </th>
            <th>
                Пользователь
            </th>
        }
    </tr>
    @foreach (var item in Model.SamplesList)
    {
        string selectedRow = "";
        if (item.SampleID == ViewBag.SampleID)
        {
            selectedRow = "selected-row";
        } 
        <tr class="@selectedRow">
            <td>
                @Ajax.ActionLink("Правка", "PartialPatientEdit", "Patient", new { sampleId = @item.SampleID, returnString = "PatientListPaid", queue = ViewBag.Queue }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "areaEdit" }, null)
                @Html.ActionLink("Подробно", "PatientListPaid", new { sampleId = @item.SampleID, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, sampleFilter = ViewBag.sampleFilter, queue = ViewBag.Queue })
            </td>
            <td>@item.SampleID
            </td>
            <td>@item.Patient.Lastname @item.Patient.Initials
            </td>
           @* <td>@DateTime.Parse(item.Patient.Birthdate.ToString()).ToShortDateString()
            </td>*@
            <td>@item.Patient.Birthdate.ToString()
            </td>
            <td>@item.Patient.Sex
            </td>
            <td>@item.ClinicMaterial.Description
            </td>
            <td>@item.Clinic.ClinicGroup.Description - @item.Clinic.Description
            </td>
            <td>@item.Doctor.Lastname @item.Doctor.Initials
            </td>
            <td>@item.DatetimeDelivery
            </td>
            <td>@item.DatetimeCapture
            </td>
            @if (Roles.IsUserInRole("Administrator"))
            {
                <td>@item.DateAdd
                </td>
                <td>@item.DateUpdate
                </td>
                <td>@item.Suser
                </td>
            }
        </tr>
    }
</table>
<p>
    @Html.PagingNavigator((int)Html.ViewData["PageNum"], (int)Html.ViewData["itemsCount"], (int)Html.ViewData["pageSize"], 9, (string)ViewBag.CurrentFilter, (string)ViewBag.CurrentSort)
</p>
<div id="areaEdit">
</div>
@if (ViewBag.SampleID != null)
{
    <fieldset>
        <legend>Анализы и результаты</legend>
        <h4>
            Выбранные микробиологические анализы:</h4>
        <table class="stripped" style="width: auto">
            <tr>
                                               @if (Roles.IsUserInRole("Administrator"))
                            {
                                @: <th></th>
                            }
                <th>
                    Анализ
                </th>
                <th>
                    Цена
                </th>
                <th>
                    Статус
                </th>
                <th>
                    Результат
                </th>
            </tr>
            @foreach (var item in Model.MBAnalysisListForSample)
            {
                <tr>
                    @if (Roles.IsUserInRole("Administrator"))
                    {
                        <td>@Html.ActionLink("Перейти", "MBAnalysisEdit", "MBAnalysis", new { mbAnalysisId = item.MBAnalysisID, sampleId = ViewBag.SampleID, showRO = 1, returnString = "PatientListFree", queue = ViewBag.Queue }, null)
                        </td>
                    }
                    <td>@Html.DisplayFor(model => item.MBAnalysisTypesDesc)
                    </td>
                    <td>@Html.DisplayFor(model => item.Price) руб.
                    </td>
                    <td>@Html.DisplayFor(model => item.MBStatusesDesc)
                    </td>
                    <td>@Html.DisplayFor(model => item.MBAnalysisResultsDesc)
                    </td>
                </tr>
            }
        </table>
        <p>
            Итого выбрано анализов на сумму @Html.DisplayFor(model => model.totalAnalysis) руб.</p>
        <br />
        <h4>
            Выбранные дополнительные услуги:</h4>
        <table class="stripped" style="width: auto">
            <tr>
                <th>
                    Доп.услуга
                </th>
                <th>
                    Цена
                </th>
            </tr>
            @foreach (var itemAS in Model.AdditionalServicesForSample)
            {
                <tr>
                    <td>@Html.DisplayFor(model => itemAS.AdditionalService.Description)
                    </td>
                    <td>@Html.DisplayFor(model => itemAS.AdditionalService.Price) руб.
                    </td>
                </tr>
            }
        </table>
        <p>
            Итого выбрано доп.услуг на сумму @Html.DisplayFor(model => model.totalAddServices)
            руб.
        </p>
        <br />
        <p>
            <strong>Итого по контракту @ViewData["contractText"] оказано услуг на сумму @Html.DisplayFor(model => model.totalAll)
                руб. </strong>
        </p>
    </fieldset>
}
<br />
<div>
    @Html.ActionLink("Новый", "CreatePatientPaid", null, new { @class = "button" })
    @if (ViewBag.SampleID != null)
    { 
        @Html.ActionLink("Печать договора", "PrintPatientContract", new { id = ViewBag.SampleID }, new { @class = "button" })
    }
    @if (ViewBag.CountReadyAnalysis >0)
    {
        @Html.ActionLink("Печать результатов", "PrintPatientResult", new { id = ViewBag.SampleID }, new { @class = "button" })
        
    }
    @if (ViewBag.CountNotReadyAnalysis > 0)
    {
        @Html.ActionLink("Удалить", "DeletePatient", new { patientId = ViewBag.SampleID, redirectAddr = "Paid", queue = ViewBag.Queue }, new { onclick = "return confirm('Вы действительно хотите удалить ?')" , @class = "button" })
        
    }
</div>
