@model Diagnostics_FP.Models.Clinic 

@{
    ViewBag.Title = "Новое отделение";
}

<h2>Новое отделение </h2>


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Внесите необходимые данные и нажмите кнопку [Сохранить]</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Code)
            @Html.ValidationMessageFor(model => model.Code)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description )
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ClinicGroupID)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ClinicGroupID", (IEnumerable<SelectListItem>)ViewBag.clinicGroupList)
            @Html.ValidationMessageFor(model => model.ClinicGroupID  )
        </div>
        <br />
                <p>
        <input type="submit" value="Сохранить" />
        @Html.ActionLink("Назад", "ClinicGroupList", new { clinicGroupID = @Model.ClinicGroupID })
            </p>
    </fieldset>
}



